<footer id="footer">
    <div class="container-fluid">
      <!-- <a href="/"><i class="social-icon fab fa-facebook-square fa-2x"></i></a> -->
      <a href="https://www.linkedin.com/in/ravneet-kaur-ba3b17198"><i class="social-icon fab fa-linkedin fa-2x"></i></a>
      <a href="https://www.github.com/Ravneet-Kaur-2000"><i class="social-icon fab fa-github fa-2x"></i></i></a>
      <a href="mailto:ravneetkaur9978@gmail.com"><i class="social-icon fas fa-envelope fa-2x"></i></a>
      <p>Made by Ravneet Kaur</p>
      </div>
  </footer>
  </body>
  </html>