<%- include("includes/header.ejs") -%>
<div class="container">
  <div class="row">
    <div class="col-lg-5 item">
      <h1 class="big-heading">Stay connected to your accounts 24/7</h1>
      <h3 class="small-heading">Secure online banking for your everyday financial needs during these challenging times.</h3>
      <button class="click"><a href="/customers"> Tranfer Money </a></button>
    </div>
    <div class="col-lg-7">
      <img class="bg" src="/images/bank.png" alt="banking">
    </div>
  </div>
  
  <section id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-role col-lg-4 item">
          <img class="image" src="/images/003-follow.png" alt="banking">
            <button class="click_me"><a href="/add-user"> Add New User </a></button>
        </div>
  
        <div class="feature-role col-lg-4 item">
          <img class="image" src="/images/002-teamwork.png" alt="banking">
          <button class="click_me"><a href="/customers"> View Customers </a></button>
        </div>
  
        <div class="feature-role col-lg-4 item">
          <img class="image" src="/images/001-lending.png" alt="banking">
          <button class="click_me"><a href="/view-transactions"> View Transactions </a></button>
        </div>
      </div>
    </div>
  </section>  
</div>
 
<%- include("includes/footer.ejs") -%>

